---
// NOTE: as はこの Issue の回避のため
// https://github.com/withastro/language-tools/issues/580
import { Article as UIArticle } from 'smarthr-ui';
import styles from './Article.module.css';

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<div class={styles.wrapper}>
  <main class={styles.main}>
    <UIArticle className={styles.article}>
      <h1 class={styles.articleTitle}>{title}</h1>
      <div class={styles.mdxStyleWrapper}>
        <slot />
      </div>
    </UIArticle>
  </main>
</div>
