---
import { FaLinkIcon } from 'smarthr-ui';

type HeadingTagTypes = 'h2' | 'h3' | 'h4' | 'h5' | 'h6' | 'span';

type Props = {
  id: string;
  tag?: HeadingTagTypes;
};

const { id, tag = 'h2' } = Astro.props;

const fragmentTitle = (tag: HeadingTagTypes) => {
  switch (tag) {
    case 'h2':
      return (<h2 class="wrapper" id={id}>
        <a href={`#${id}`}>
          <FaLinkIcon className="icon" />
          <slot />
        </a>
      </h2>);
    case 'h3':
      return (<h3 class="wrapper" id={id}>
        <a href={`#${id}`}>
          <FaLinkIcon className="icon" />
          <slot />
        </a>
      </h3>);
    case 'h4':
      return (<h4 class="wrapper" id={id}>
        <a href={`#${id}`}>
          <FaLinkIcon className="icon" />
          <slot />
        </a>
      </h4>);
    case 'h5':
      return (<h5 class="wrapper" id={id}>
        <a href={`#${id}`}>
          <FaLinkIcon className="icon" />
          <slot />
        </a>
      </h5>);
    case 'h6':
      return (<h6 class="wrapper" id={id}>
        <a href={`#${id}`}>
          <FaLinkIcon className="icon" />
          <slot />
        </a>
      </h6>);
    case 'span':
      return (<span class="wrapper" id={id}>
        <a href={`#${id}`}>
          <FaLinkIcon className="icon" />
          <slot />
        </a>
      </span>);
    default:
      return (<h2 class="wrapper" id={id}>
        <a href={`#${id}`}>
          <FaLinkIcon className="icon" />
          <slot />
        </a>
      </h2>);
  }
};

---

{fragmentTitle(tag)}

<style lang="scss">
  .wrapper {
    position: relative;
    scroll-margin-top: 80px;

    a {
      color: inherit;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;

        .icon {
          visibility: visible;
        }
      }
    }
  }

  .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -24px;
    visibility: hidden;
    font-size: var(--font-size-16);
  }
</style>
