---
import { FaLinkIcon } from 'smarthr-ui';

type HeadingTagTypes = 'h2' | 'h3' | 'h4' | 'h5' | 'h6' | 'span';

type Props = {
  id: string;
  tag?: HeadingTagTypes;
};

const { id, tag = 'h2' } = Astro.props;

---

{tag === 'h2' && (
  <h2 class="wrapper" id={id}>
    <a href={`#${id}`}>
      <FaLinkIcon className="icon" />
      <slot />
    </a>
  </h2>
)}
{tag === 'h3' && (
  <h3 class="wrapper" id={id}>
    <a href={`#${id}`}>
      <FaLinkIcon className="icon" />
      <slot />
    </a>
  </h3>
)}
{tag === 'h4' && (
  <h4 class="wrapper" id={id}>
    <a href={`#${id}`}>
      <FaLinkIcon className="icon" />
      <slot />
    </a>
  </h4>
)}
{tag === 'h5' && (
  <h5 class="wrapper" id={id}>
    <a href={`#${id}`}>
      <FaLinkIcon className="icon" />
      <slot />
    </a>
  </h5>
)}
{tag === 'h6' && (
  <h6 class="wrapper" id={id}>
    <a href={`#${id}`}>
      <FaLinkIcon className="icon" />
      <slot />
    </a>
  </h6>
)}
{tag === 'span' && (
  <span class="wrapper" id={id  }>
    <a href={`#${id}`}>
      <FaLinkIcon className="icon" />
      <slot />
    </a>
  </span>
)}

<style lang="scss">
  .wrapper {
    position: relative;
    scroll-margin-top: 80px;

    a {
      color: inherit;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;

        .icon {
          visibility: visible;
        }
      }
    }
  }

  .icon {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -24px;
    visibility: hidden;
    font-size: var(--font-size-16);
  }
</style>
