---
import type { ImageMetadata } from 'astro';
import { Picture } from 'astro:assets';

type Props = {
  src: string | ImageMetadata;
  alt: string;
};

const { src, alt } = Astro.props;

const imageUrl = typeof src === 'string' ? src : src.src;
---

<span class="wrapper">
  <a href={imageUrl} target="_blank" rel="noopener">
    {
      typeof src === 'string' ? (
        <img src={src} alt={alt} />
      ) : (
        <Picture src={src} widths={[256, 512, 1024, 1536, 1600]} formats={['webp']} alt={alt} />
      )
    }
  </a>
</span>

<style
  lang="scss"
  define:vars={{
    imageWidth: typeof src === 'string' ? '100%' : `${src.width}px`,
    aspectRatio: typeof src === 'string' ? 'auto' : `${src.width} / ${src.height}`,
  }}
>
  .wrapper {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--imageWidth);
  }

  a {
    display: block;
    aspect-ratio: var(--aspectRatio);

    picture {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      margin: 0px;
      vertical-align: middle;
      top: 0px;
      left: 0px;
    }
  }
</style>
