---
import { AccordionPanel, AccordionPanelContent, AccordionPanelItem, AccordionPanelTrigger } from 'smarthr-ui';
import SidebarItems from './SidebarItems.astro';
import type { SidebarItem } from './type';

type Props = {
  path: `/${string}`;
  nestedSidebarItems: SidebarItem[];
};

const { path, nestedSidebarItems } = Astro.props;
---

{/* PC表示 */}
<div class="navWrapper">
  <SidebarItems path={path} nestedSidebarItems={nestedSidebarItems} showDepth1Item />
</div>

{/* SP表示 */}
{
  nestedSidebarItems[0]?.children.length > 0 && (
    <div class="spSidebar">
      <AccordionPanel iconPosition="right">
        <AccordionPanelItem name="spSidebar">
          <AccordionPanelTrigger>{nestedSidebarItems[0].title}</AccordionPanelTrigger>
          <AccordionPanelContent>
            <SidebarItems path={path} nestedSidebarItems={nestedSidebarItems} />
          </AccordionPanelContent>
        </AccordionPanelItem>
      </AccordionPanel>
    </div>
  )
}

<style lang="scss">
  .navWrapper {
    padding-block: 120px 48px;
    overflow-y: auto;

    @include mobile {
      display: none;
    }
  }

  .spSidebar {
    display: none;

    @include mobile {
      display: block;
      border-bottom: 1px solid var(--color-light-grey-1);
    }

    button {
      font-family: inherit;
      color: inherit;
      padding-inline: 24px;
    }

    /* stylelint-disable-next-line */
    #spSidebar-content.entered {
      /* アコーディオンが開いた時にsmarthr-uiが100vhを指定するが、100vh以上になりはみ出る場合があるので上書き */
      max-height: none;
    }
  }
</style>
